@model CakeViewModel

<link href="~/css/detail.css" rel="stylesheet" type="text/css">
<link href="~/css/comments.css" rel="stylesheet" type="text/css">

<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="row">
            <div class="col-sm-6">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4" style="align-self:center; padding-left:15px">
                            <img style="width: 170px; height: 200px; padding-top:5px" alt="@Model.Name" src="@Model.ImageUrl">
                        </div>

                        <div class="col-sm-8 card-body amber-text">
                            <h3>@Model.Name </h3>
                            <p>@Model.LongDescription</p>
                            <h6>Алергии: @Model.AllergyInformation</h6>
                            <h3 class="pull-right">@Model.Price</h3>
                            <p class="button" style="width:260px">
                                <a class="btn btn-primary" style="font-size:12px; font-weight:bold" asp-controller="ShoppingCart" asp-action="AddToShoppingCart"
                                   asp-route-cakeId="@Model.CakeId">Добави в количка</a>
                            </p>

                            <div>
                                <a href="javascript:history.go(-1)" title="Returns you back to the previous page.">Назад</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <hr />
                <div class="row">
                    <div>
                        <div class="row">
                            <div class="col-12">
                                <div class="comments">
                                    <div class="comment-box add-comment">
                                        <form asp-action="AddComment" style="width: 479.5px; height:38px">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <input type="hidden" asp-for="@Model.CakeId" />

                                            <div class="form-group">
                                                <input asp-for="Text" class="form-control" placeholder="Добави коментар" />
                                            </div>

                                            <div class="form-group">
                                                <input type="submit" value="Добави" class="btn btn-primary" />
                                            </div>
                                        </form>
                                    </div>                                    
                                    @foreach (var comment in Model.Comments)
                                    {
                                        <div class="comment-box">

                                            <span class="commenter-name">
                                                <a href="#">@comment.UserName</a> <span class="comment-time">@comment.Date</span>
                                            </span>

                                            <p lass="comment-txt more">@comment.Text</p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
