@model IEnumerable<CakeViewModel>
@{
    ViewData["Title"] = "AllCakes";
}

<link href="~/css/cbg.css" rel="stylesheet" type="text/css">

<h1>Нашите предложения!</h1>
<br />
<div class="row h-100">
    @foreach (var cake in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">

            <div class="card h-100">

                <img class="card-img-top" src="@cake.ImageUrl" alt="Card image cap" height="220" width="145" />
                <div class="card-body">
                    <h5>@cake.Name</h5>
                    <h5 class="card-title" style="color:firebrick"></h5>
                    <p class="card-text" style="color:firebrick">
                        Цена: @cake.Price
                    </p>
                    <div>
                        <a asp-action="Details" asp-route-CakeId="@cake.CakeId">Details</a>
                    </div>
                </div>
                
            </div>
        </div>
    }
    </div>
@*<div class="container">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5 amber-text">
                <h1 class="font-weight-light">Всички кексчета</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShortDescription)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.InStock)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cake in Model)
                        {
                            <tr>
                                <td>
                                    @cake.Name
                                </td>
                                <td>
                                    @cake.ShortDescription
                                </td>
                                <td>
                                    @cake.Price
                                </td>
                                <td>
                                    @cake.InStock
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@cake.cakeId">Details</a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>*@

