@model IEnumerable<CakeViewModel>
@{
    ViewData["Title"] = "AllCakes";
}

<link href="~/css/cbg.css" rel="stylesheet" type="text/css">

<h1>Нашите предложения!</h1>
<br />
<div class="row h-100">
    @foreach (var cake in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">

            <div class="card h-100">

                <img class="card-img-top" src="@cake.ImageUrl" alt="Card image cap" height="220" width="145" />
                <div class="card-body">
                    <h5>@cake.Name</h5>
                    <h5 class="card-title" style="color:firebrick"></h5>
                    <p class="card-text" style="color:firebrick">
                        Цена: @cake.Price
                    </p>
                    <div>
                        <a asp-action="Details" asp-route-CakeId="@cake.CakeId">Details</a>
                    </div>
                    <div>
                        @if (User.IsInRole("Admin"))
                        {
                        <div style="font-size:32px; margin-left:123px">
                            <a asp-action="Remove" asp-route-CakeId="@cake.CakeId">
                                <i class="fas fa-window-close"></i>
                            </a>
                            <a asp-route-CakeId="@cake.CakeId" asp-controller="Cake" asp-action="GetCake" >
                                <i class="fas fa-pen-square"></i>
                            </a>
                        </div>
                        }
                        <p class="button">
                            <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart"
                               asp-route-CakeId="@cake.CakeId">Add to cart</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    }
</div>